<div class='row'>
  <div class='col s4 m3 filters'>
    <div class='title'><h4>Filters<h4></div><hr>
    <%= render 'filter_form' %>
  </div>

  <div class='table-container col s8 m9'>
    <%= render 'search_form' %>

    <% if @mushrooms.present? %>
      <%= render 'table' %>
      <%= paginate @mushrooms %>
    <% elsif params[:filter].present? || params[:search].present? %>
      <h6 class='title'>No results found. Try another filter or search.</h6>
      <div class='image-container'>
        <%= image_tag 'mushroom' %>
      </div>
    <% else %>
      <div class='image-container'>
        <%= image_tag 'mushroom-giphy' %>
      </div>
    <% end %>
  </div>
</div>
